@model _5shop.Models.ShoppingCart

@{
    ViewBag.Title = "Delete";
}

<h3>Дали сигурно сакаш да го избришеш овој производ?</h3>

<div>
    <h4>@*ShoppingCart*@</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreated)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-danger" />
            <button class="btn btn-outline-dark">
                @Html.ActionLink("Назад кон листата", "Index", new { @class = "color: black;" })
            </button>
        </div>
    }
</div>
