@model IEnumerable<_5shop.Models.ShoppingCart>

@{
    ViewBag.Title = "Index";
}

<h2>Сите нарачки</h2>
<br />

<table class="table">
    <tr>
        <th>Cart ID</th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateCreated)
            </td>
            <td>
                @Html.ActionLink("Промени", "Edit", new { id = item.id }) |
                @Html.ActionLink("Детали", "Details", new { id = item.id }) |
                @Html.ActionLink("Избриши", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
