@model _5shop.Models.detailsAddToCartViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Детали за производот </h2>
<hr />

<div class="row">
    <div class="col-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.product.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product.quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product.quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product.price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product.description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product.category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product.category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product.animal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product.animal)
            </dd>

        </dl>
    </div>
    <div class="col-6 d-flex">
        <img src="@Model.product.imageUrl" class="justify-content-center align-items-center" style="max-width: 400px" />
    </div>
</div>
@Html.HiddenFor(model => model.cartId)

<p>
    @if (User.IsInRole(_5shop.Models.Role.ADMIN.ToString()))
    {
        <button class="btn btn-outline-dark">
            @Html.ActionLink("Промени", "Edit", new { id = Model.product.id }, null)
        </button>
    }
    <button class="btn btn-outline-dark">
        @Html.ActionLink("Назад кон листата", "Index", new { })
    </button>
    @if (User.IsInRole(_5shop.Models.Role.USER.ToString()))
    {
        <button class="btn btn-outline-dark">
            <a class="btn-add" type="button" data-product-id="@Model.product.id" data-quantity="@Model.product.quantity" data-product-name="@Model.product.name">Додади во кошничка</a>
        </button>
    }
</p>

<script>
    $(document).ready(function () {
        $('.btn-add').on('click', function () {
            var quantity = $(this).data('quantity');
            var productId = $(this).data('product-id');
            var productName = $(this).data('product-name');

            if (quantity == 0) {
                alert('Моментално производот не е достапен на залиха');
            } else {
                window.location.href = "/ShoppingCarts/AddToCart?cartId=" + @Model.cartId+"&productName=" + productName;
            }
        });

    });
</script>
