@model _5shop.Models.ProductsCategoriesAnimalsViewModel

@{
    ViewBag.Title = "Index";
}
@*<p>Cart ID: @Model.cartId</p>*@

<div class="row">
    <div class="col-3 d-flex flex-column">
        <h2>Сите производи</h2>
        <div class="mt-auto">
            @if (User.IsInRole(_5shop.Models.Role.ADMIN.ToString()))
            {
                <button class="btn btn-outline-dark">
                    @Html.ActionLink("Додади нов производ", "Create")
                </button>
            }
        </div>
    </div>

    <div class="col-3 d-flex flex-column">
        <div class="mt-auto">
            @Html.DropDownListFor(model => model.products.First().category, new SelectList(Model.categories), "-- Select Category --", new { @class = "form-control", id = "categoryFilter" })
        </div>
    </div>

    <div class="col-3 d-flex flex-column">
        <div class="mt-auto">
            @Html.DropDownListFor(model => model.products.First().animal, new SelectList(Model.animals), "-- Select Animal --", new { @class = "form-control", id = "animalFilter" })
        </div>
    </div>

    <div class="col-3 d-flex flex-column">
        <button class="btn mt-auto" style="color:white" id="filterButton" onclick="filterProducts()">Филтрирај</button>
    </div>
</div>
<br />
<br />

<table class="table">
    <thead>
    <th>
        @Html.DisplayNameFor(model => model.products.First().imageUrl)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.products.First().name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.products.First().price)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.products.First().category)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.products.First().animal)
    </th>
    <th></th>
    </thead>
    <tbody>
        @foreach (var item in Model.products)
        {
            <tr>
                <td>
                    <img src="@item.imageUrl" style="max-width:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.animal)
                </td>
                <td>
                    @Html.ActionLink("Детали", "Details", new { id = item.id })

                    @if (User.IsInRole(_5shop.Models.Role.ADMIN.ToString()))
                    {
                        @Html.Label(" | ")
                        @Html.ActionLink(" Промени", "Edit", new { id = item.id })
                        @Html.Label(" | ")
                        @Html.ActionLink(" Избриши", "Delete", new { id = item.id })
                    }

                    @if (User.IsInRole(_5shop.Models.Role.USER.ToString()))
                    {
                        @Html.Label(" | ")
                        <a class="btn-add" data-product-id="@item.id" data-quantity="@item.quantity" data-product-name="@item.name">Додади во кошничка</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {

        function filterProducts() {
            var categoryFilter = $("#categoryFilter").val();
            var animalFilter = $("#animalFilter").val();
            window.location.href = "/Products/Index?categoryFilter=" + categoryFilter + "&animalFilter=" + animalFilter;
        }

        $("#filterButton").on("click", filterProducts);


        $('.btn-add').on('click', function () {
            var quantity = $(this).data('quantity');
            var productId = $(this).data('product-id');
            var productName = $(this).data('product-name');

            if (quantity == 0) {
                alert('Моментално производот не е достапен на залиха');
            } else {
                window.location.href = "/ShoppingCarts/addToCart?cartId=" + @Model.cartId+"&productName=" + productName;
            }
        });

    });
</script>
